@using Mebeller.Data
@using Mebeller.Data.Context
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Mebeller.Data.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject IMediaService MediaService
@inject UserManager<ApplicationUser> UserManager
@inject IProductService ProductService

@{
    var user = await UserManager.GetUserAsync(User);
    var userRoles = await UserManager.GetRolesAsync(user);
    var roleName = userRoles.FirstOrDefault(r => r == "Admin");
    var picture = user?.Picture;
    var userName = user?.UserName;
    var unSeenOrdersCount = await ProductService.GetUnSeenOrdersCountAsync();
    var isThereAnyUnSeenOrder = unSeenOrdersCount > 0;
    var unreadCount = await MediaService.GetUnreadMessagesCountAsync();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mebellerim - Admin</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/libs/icofont/icofont.css">
    <link rel="stylesheet" href="/css/icons.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="/css/Admin/Style.min.css">
 
    <style>
        .custom-scrollbar {
            overflow-y: auto;
            scrollbar-width: thin;
            scrollbar-color: #888888 #f5f5f5;
        }
        
        .custom-scrollbar::-webkit-scrollbar {
            width: 8px;
        }
        
        .custom-scrollbar::-webkit-scrollbar-track {
            background: #f5f5f5;
        }
        
        .custom-scrollbar::-webkit-scrollbar-thumb {
            background-color: #888888;
            border-radius: 6px;
        }
        
        </style>
    
    <!-- Render any additional stylesheets defined in the "Styles" section -->
    @await RenderSectionAsync("Styles", false)

</head>
<body>

<div class="page-wrapper">
<div class="page-main-header">
    <div class="main-header-right row">
        <div class="main-header-left d-lg-none w-auto">
            <div class="logo-wrapper">
                <a href="/Admin/">
                    <img src="/img/logo.png" class="img blur-up lazyload" alt="">
                </a>
            </div>
        </div>
        <div class="mobile-sidebar w-auto d-flex justify-content-end align-items-center">
            <a href="#" class="toggle-sidebar me-3">
                <i id="sidebar-toggle" data-feather="align-left" height="16" width="16"></i>
            </a>
        </div>
    
        <div class="nav-right col">
            <ul class="nav-menus">
                
               <li class="nav-item dropdown">
               </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-star-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li>
                            <a class="text-dark btn-dark-mode" href="#">
                                <i class="bi bi-moon"></i> Dark Mode
                            </a>
                        </li>
                        <li>
                            <a class="text-dark btn-rtl" href="#">
                                <i class="bi bi-arrow-right"></i> Right-to-Left
                            </a>
                        </li>
                        <li>
                            <a class="text-dark btnFullScreen" href="#">
                                <i class="bi bi-arrows-fullscreen"></i> Full Screen
                            </a>
                        </li>
                        <li>
                            <a class="text-dark" href="/">
                                <i class="bi bi-house"></i> Home
                            </a>
                        </li>
                        
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-person-fill"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <i class="bi bi-pencil-fill me-1"></i>Edit Profile
                                            </a>
                                        </li>
                                        <li>
                                            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                                                <button class="dropdown-item" type="submit">
                                                    <i class="bi bi-box-arrow-right me-1"></i>Log out
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>

            </ul>
            <div class="d-lg-none mobile-toggle pull-right">
                <i data-feather="more-horizontal"></i>
            </div>
        </div>

    </div>
</div>
<!-- Page Body Start-->
<div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    <div class="page-sidebar">
        <div class="main-header-left d-lg-flex align-items-center">
            <a href="/Admin" class="d-none d-lg-block">
                <img src="/img/logo.png"
                     alt="Multikart Logo">
            </a>
        </div>
        <div class="sidebar custom-scrollbar">
            <a href="#" class="sidebar-back d-block d-lg-none">
                <i data-feather="x"></i>
            </a>
            <div class="sidebar-user">
                <a href="#">
                    <div class="user-image">
                        <img class="img-100" src="@((picture?.Length ?? 0) > 0 ? $"data:image/*;base64,{Convert.ToBase64String(picture)}" : "/img/user-1.jpg")" alt="User Image">
                    </div>
                    <div class="user-info">
                        <h6 class="f-14">Hello, @userName!</h6>
                        <p class="user-role">Logged in as @roleName</p>
                    </div>
                </a>
            </div>
        
            <ul class="sidebar-menu">
                <li>
                    <a class="sidebar-header" href="#">
                        <i data-feather="shopping-bag"></i>
                        <span>Products</span>
                        <i data-feather="chevron-right" class="float-end"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a asp-area="Admin" asp-controller="Product" asp-action="Index">
                                <i data-feather="list"></i>
                                <span>Product List</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Product" asp-action="Categories">
                                <i data-feather="grid"></i>
                                <span>Categories</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-header" href="#">
                        <i data-feather="shopping-cart"></i>
                        <span>Orders</span>
                        <i data-feather="chevron-right" class="float-end"></i>
        
                        @if (isThereAnyUnSeenOrder)
                        {
                            <span class="badge badge-danger">@unSeenOrdersCount</span>
                        }
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a asp-controller="Order" asp-action="Index">
                                <i data-feather="list"></i>
                                <span>Order List</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-header" href="#">
                        <i data-feather="gift"></i>
                        <span>Coupons</span>
                        <i data-feather="chevron-right" class="float-end"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a asp-controller="Order" asp-action="Discounts">
                                <i data-feather="list"></i>
                                <span>Coupon List</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-header" href="#">
                        <i data-feather="file-text"></i>
                        <span>Pages</span>
                        <i data-feather="chevron-right" class="float-end"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a asp-controller="Page" asp-action="Index">
                                <i data-feather="list"></i>
                                <span>Manage Pages</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-header" href="#">
                        <i class="feather-icon" data-feather="users"></i>
                        <span>Blogs</span>
                        <i class="float-end" data-feather="chevron-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a asp-action="List" asp-controller="Blog">
                                <i class="feather-icon" data-feather="list"></i>List blogs
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-header" href="#">
                        <i data-feather="image"></i>
                        <span>Banners</span>
                        <i data-feather="chevron-right" class="float-end"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a asp-controller="Media" asp-action="Banners">
                                <i data-feather="list"></i>
                                <span>Manage Banners</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-header" asp-controller="Media" asp-action="Messages">
                        <i class="feather-icon" data-feather="message-square"></i>
                        <span class="menu-label">Media</span>
                        <i class="float-end" data-feather="chevron-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a asp-controller="Media" asp-action="Messages">
                                <i class="feather-icon" data-feather="mail"></i>
                                <span class="menu-label">Messages</span>
                                @if (unreadCount != 0)
                                {
                                    <span class="badge badge-danger">@unreadCount</span>
                                }
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Media" asp-action="Newsletters">
                                <i class="feather-icon" data-feather="list"></i>
                                <span class="menu-label">Newsletter Users</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Media" asp-action="Comments">
                                <i class="feather-icon" data-feather="message-circle"></i>
                                <span class="menu-label">Comments</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="sidebar-header" href="#">
                        <i class="feather-icon" data-feather="users"></i>
                        <span>Users</span>
                        <i class="float-end" data-feather="chevron-right"></i>
                    </a>
                    <ul class="sidebar-submenu">
                        <li>
                            <a asp-action="Index" asp-controller="User">
                                <i class="feather-icon" data-feather="list"></i>List Users
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- Page Sidebar Ends-->

    <div class="page-body">
        @RenderBody()
    </div>
</div>
<!-- Page Body Ends -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha512-TqmAh0/sSbwSuVBODEagAoiUIeGRo8u95a41zykGfq5iPkO9oie8IKCgx7yAr1bfiBjZeuapjLgMdp9UMpCVYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<!-- Initialize the dropdown component -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var dropdownTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="dropdown"]'))
        var dropdownList = dropdownTriggerList.map(function (dropdownTrigger) {
            return new bootstrap.Dropdown(dropdownTrigger)
        });
    });
</script>

<!-- Additional Scripts -->
<script src="/libs/lazysizes/lazysizes.min.js"></script>
<script src="/js/sidebar-menu.js"></script>
<script src="/js/counter/jquery.waypoints.min.js"></script>
<script src="/js/counter/jquery.counterup.min.js"></script>
<script src="/js/Custom.js"></script>
<script src="/libs/feather-icon/feather-icon.js"></script>
 
<!-- Render any additional scripts defined in the "Scripts" section -->
@await RenderSectionAsync("Scripts", false)

</body>
</html>